#prime-forum .prime-group-box .prime-group {
  background-color: $orange!important;
  color: $white!important;
  a:hover{
    color: $white!important;
  }
}

#prime-forum .prime-forum-description{
  color: $white !important;
}