.headerWrapper {
  width: 100%;
  max-width: unset;
  background-color: $dark-dark-grey;
  margin: 0;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: $white;
  width: 100%;
  max-width: $main-width;
  min-width: 320px;
  margin: 0 auto;
}

.search, .logo, .mainMenu {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.logo {
  padding: 0;
}

.logo__title {
  padding: 0 15px 0 40px;
  font-size: 42px;
  @media all and (max-width: 360px) {
    display: none;
  }
}

.logo:hover {
  text-decoration: none;
}

.logo__img {
  background: url("../img/logo.png") no-repeat center center $orange;
  line-height: 120px;
  width: 130px;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    border: 20px solid transparent;
    border-left: 20px solid $orange;
    width: 0;
    height: 0;
    right: -40px;
    top: calc(50% - 20px);
  }
}

.mainMenu {
  z-index: 10;
  ul {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;
    margin: 0;
    li {
      padding: 0;
      text-align: center;
      white-space: nowrap;
      height: 100%;
      line-height: 120px;
      font-size: 18px;
      &:after {
        content: '|';
        padding: 0 10px;
      }
      &:last-child:after {
        display: none;
      }
      &.current-menu-item a {
        //text-decoration: underline;
        display: inline-block;
        line-height: 120px;
        position: relative;
        &:before, &:after {
          content: '';
          display: block;
          width: 100%;
          height: 5px;
          color: $orange;
          background-color: $orange;
          position: absolute;
          bottom: 0;
        }
        &:after {
          top: 0;
        }
      }
    }
  }
  .mainMenu__burgerBtn {
    display: none;
  }
  @media all and (max-width: 650px) {
    ul li:after {
      display: none;
    }
    .menu-main-container {
      display: none;
      position: fixed;
      top: 150px;
      right: 0;
      background-color: $dark-dark-grey;
      width: 100%;
      border-top: 1px solid $orange;
      border-bottom: 1px solid $orange;
      ul {
        flex-direction: column;
        padding: 20px 0;
      }
      li {
        line-height: 30px;
        width: 100%;
        padding: 5px 50px;

      }
      li.current-menu-item a {
        background-color: $orange;
        line-height: 30px;
        display: block;
        &:before, &:after {
          display: none;
        }
      }

      &--show {
        display: block;
      }
    }
    .mainMenu__burgerBtn {
      display: block;
    }
  }
}

