.indexPage {
  padding: 5px;
}

#jsAsukaSlider span {
  display: flex;
}

.news {
  width: 100%;
  display: flex;
  color: $white;
  min-height: 350px;
  max-height: 350px;
  h2 {
    margin: 0 0 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px $orange;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
}

.news__previewImg {
  width: 50%;
  background: no-repeat #373737 center;
  background-size: cover;
  border-right: 5px solid $orange;
  position: relative;
  &:before {
    content: '';
    display: block;
    padding-top: 60%;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    border: 20px solid transparent;
    border-left: 20px solid $orange;
    width: 0;
    height: 0;
    right: -40px;
    top: calc(50% - 20px);
  }
}

.news__description {
  background-color: $dark-dark-grey;
  width: 50%;
  padding: 30px 10px 30px 30px;
  white-space: pre-line;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  &::-webkit-scrollbar-button {
    background-color: $dark-dark-grey;
  }
  &::-webkit-scrollbar-track {
    background-color: $orange;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: $dark-dark-grey;
  }
  &::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: $orange;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-corner {
    background-color: $orange;
  }
  &::-webkit-resizer {
    background-color: $orange;
  }
}

.news__date{
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
}

.news__controls {
  position: absolute;
  top: 10px;
}

.contentBlocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  flex-wrap: wrap;
}

.contentBlocks__block {
  width: calc(50% - 5px);
  background-color: $dark-grey;
  color: $white;
  padding: 15px;
  margin-bottom: 10px;
  h2 {
    margin: 0 0 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px $orange;
    text-align: center;
  }
}

@media all and (max-width: 750px) {
  .news {
    flex-direction: column;
    max-height: unset;
    & > * {
      width: 100%
    }
  }
  .news__previewImg {
    border-right: none;
    border-bottom: 5px solid $orange;
    &:after {
      content: '';
      display: block;
      position: absolute;
      border: 20px solid transparent;
      border-top: 20px solid $orange;
      width: 0;
      height: 0;
      top: 100%;
      left: calc(50% - 20px);
    }
  }
  .news__description {
    padding: 30px 10px 30px 10px;
  }
  .contentBlocks {
    flex-direction: column;
  }
  .contentBlocks__block {
    width: 100%;
    padding: 10px;
  }
}