@import "variables";
@import "header";
@import "index-page";
@import "forum";
@import "vue-animations";

*, *:before, *:after{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  background-color: #ebebeb;
  & > * {
    width: 100%;
    max-width: $main-width;
    min-width: 320px;
    margin: 0 auto;
    display: block;
  }
}

a{
  color: unset;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

main a{
  text-decoration: underline;
  &:hover{
    color: $orange;
  }
}

button{
  padding: 5px;
  border: 1px solid $orange;
  background-color: $dark-dark-grey;
  color: $white;
  cursor: pointer;
  &:hover{
    color: $orange;
  }
  &:disabled{
    background-color: lighten($dark-dark-grey, 10%);
    color: darken($white, 20%);
    cursor: unset;
    border-color: $dark-dark-grey ;
  }
}

script {
  display: none;
}