.mainMenu ul {
  z-index: 10;
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
  margin: 0;
  li {
    padding: 0;
    text-align: center;
    white-space: nowrap;
    height: 100%;
    line-height: 120px;
    font-size: 18px;
    &:after {
      content: '|';
      padding: 0 10px;
    }
    &:last-child:after {
      display: none;
    }
    &.active a {
      display: inline-block;
      line-height: 120px;
      position: relative;
      &:before, &:after {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        color: $orange;
        background-color: $orange;
        position: absolute;
        bottom: 0;
      }
      &:after {
        top: 0;
      }
    }

  }
  .mainMenu__burgerBtn {
    display: none;
  }
}

@media all and (max-width: 650px) {
  .mainMenu__list{
    position: absolute;
    background-color: $dark-grey;
    top: 156px;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 0 0 0;
    li{
      height: 50px !important;
      line-height: 50px !important;
      width: 100%;
      &:after{
        display: none;
      }
    }
    li.active{
      background-color: $orange;
      a{
        line-height: 50px !important;
      }
      a:after, a:before{
        display: none !important;
      }
    }
  }

  .mi-burger {
    position: relative;
    width: 70px;
    height: 70px;
    background: #fff;
    font-size: 0;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(0,0,0,.15);;
    cursor: pointer;
    transition: .2s ease-in-out !important;
  }

  .mi-burger span {
    position: absolute;
    height: 6px;
    background: #eee;
    display: block;
    top: calc(50% - 3px);
    left: 25%;
    right: 25%;
    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      width: 100%;
      height: 6px;
      background-color: #eee;
    }
    &::before {
      top: -16px;
    }
    &::after {
      bottom: -16px;
    }
  }
  .mi-burger--htra {
    background: $orange;
    & span {
      transition: transform .15s;
      &::before {
        transform-origin: top left;
        transition: transform .15s, width .15s, top .15s;
      }
      &::after {
        transform-origin: bottom left;
        transition: transform .15s, width .15s, bottom .15s;
      }
    }
    &.active span {
      transform: rotate(180deg);
      &::before,
      &::after {
        width: 50%;
      }
      &::before {
        top: 0;
        transform: translateX(-6px) translateY(3px) rotate(-45deg);
      }
      &::after {
        bottom: 0;
        transform: translateX(-6px) translateY(-3px) rotate(45deg);
      }
    }
    &:hover{
      background-color: darken($orange, 10%);
    }
  }
}