@import "variables";
@import "header";
@import "index-page";
@import "forum";
@import "main-menu";
@import "vue-animations";

*, *:before, *:after{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  background-color: #ebebeb;
  background: url("../img/bg.jpg");
  & > * {
    width: 100%;
    max-width: $main-width;
    min-width: 320px;
    margin: 0 auto;
    display: block;
  }
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-button {
    background-color: $dark-dark-grey;
  }
  &::-webkit-scrollbar-track {
    background-color: $orange;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: $dark-dark-grey;
  }
  &::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: $orange;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-corner {
    background-color: $orange;
  }
  &::-webkit-resizer {
    background-color: $orange;
  }
}

a{
  color: unset;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

main a{
  text-decoration: underline;
  &:hover{
    color: $orange;
  }
}

button{
  padding: 5px;
  border: 1px solid $orange;
  background-color: $dark-dark-grey;
  color: $white;
  cursor: pointer;
  &:hover{
    color: $orange;
  }
  &:disabled{
    background-color: lighten($dark-dark-grey, 10%);
    color: darken($white, 20%);
    cursor: unset;
    border-color: $dark-dark-grey ;
  }
}

script {
  display: none;
}